.shop-banners {
    padding-top: 45px;

    .container {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
}

.shop-banner {
    position: relative;
    width: 50%;
    padding: 160px 20px;
    background-color: $color-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--man {
        background-image: url(../img/banner-1.jpg);
    }

    &--woman {
        background-image: url(../img/banner-2.jpg);
    }

    &__title {
        margin: 0;
        font-weight: 500;
        position: relative;
        z-index: 1;
        font-size: 48px;
        margin-bottom: 20px;
    }

    &__text {
        position: relative;
        z-index: 1;
        font-size: 13px;
    }
}


// media 

@media (max-width: 1200px) {

    .shop-banner {
        padding: 30px;
        min-height: 300px;

        &__title {
            font-size: 40px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 768px) {

    .shop-banner {
        
        &__title {
            font-size: 28px;
        }
    }
}

@media (max-width: 576px) {

    .shop-banner {
        width: 100%;
        min-height: 250px;
    }

    .shop-banners .container {
        flex-wrap: wrap;
    }
}